# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# MacOS
.DS_Store

# VSCode
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Environment variabless
.env

.csvvenv/
__pycache__/
.DS_Store
